<section class="home">
    <div class="page-body">
        <h1 class="text-white">asdasd</h1>
    </div>
    <div class="page-footer">
        <div class="mobile-nav">
            <div class="nav w-100 d-flex">
                <div class="nav-item"><img class="nav-icon" src="../../../assets/icons/setting.svg" alt=""></div>
                <div class="nav-item"><img class="nav-icon" src="../../../assets/icons/profile.svg" alt=""></div>
                <div class="nav-item">
                    <div class="home-icon-case">
                        <img class="nav-icon home-icon" src="../../../assets/icons/home.svg" alt="">
                    </div>
                </div>
                <div class="nav-item"><img class="nav-icon" src="../../../assets/icons/graphic.svg" alt=""></div>
                <div class="nav-item"><img class="nav-icon" src="../../../assets/icons/table.svg" alt=""></div>
            </div>
        </div>
    </div>
</section>